body {
  background-image: url(./img/Background.png);
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  width: 100%;
}

.container {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  min-height: 100vh;
  font-weight: bold;
  background-image: url(./img/cardMenu2.png), url(./img/cardMenu.png);
  background-repeat: no-repeat;
  background-position-x: 74%, 61%;
  background-position-y: 95%, 90%;
}

.header {
  padding: 5% 0% 0% 5%;
}

.header__title {
  font-size: 57px;
  line-height: 67px;
  margin-bottom: 9px;
}

.header__subtitle {
  font-size: 19px;
  line-height: 22px;
}

input:checked ~ label::after {
  content: ' ';
  transform: rotate(45deg);
  position: absolute;
  display: block;
  left: -30px;
  top: 10px;
  width: 20px;
  height: 20px;
  background-color: #d62b2e;
}

.hidden {
  display: none;
}

.choose-level {
  padding: 2%;
}

.level {
  width: 25%;
  font-size: 42px;
  margin: 2% 8%;
}

.button {
  margin: 7% 6%;
}

.start-button {
  cursor: pointer;
  font-size: 31px;
  line-height: 37px;
  font-weight: bold;
  color: #fff;
  background: #d62b2e;
  border-radius: 7px;
  margin-left: 1px;
  padding: 29px 83px 28px 82px;
}

label {
  margin-left: 20px;
  position: relative;
}

input {
  display: none;
}

.card {
  position: relative;
  margin: 12px;
}

.field {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  cursor: pointer;
  transition: transform 1s;
  transform: translateY(-15px) rotate(-5deg);
}

.easy-game {
  display: flex;
  height: 100vh;
}

.middle-game {
  display: flex;
  flex-wrap: wrap;
  width: 39%;
  margin: 0 auto;
  height: auto;
}

.hard-game {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin: 0 auto;
  height: auto;
}

@media (max-width: 1366px) {
.container {
  background-position-x: 90%, 75%;
  }

.easy-game {
  height: auto;
  }

.middle-game {
  width: 58%;
  }

.hard-game {
  width: 95%;
  }
}

@media (max-width: 1280px) {
.container {
  background-position-y: 64%, 59%;
  }

.choose-level {
  padding-top: 4%;
   }

.hard-game {
   width: 100%;
  }
}

@media (max-width: 800px) {
.header__title {
  font-size: 46px;
  }

.header__subtitle {
  font-size: 14px;
  }

.level {
  font-size: 36px;
  }

.start-button {
  font-size: 28px;
  padding: 16px 40px 16px 32px;
  }

.container {
  background-position-y: 90%, 78%;
  background-position-x: 93%, 70%;
  }

.easy-game {
  width: 95%;
  }

.middle-game {
  width: 96%;
  }

.hard-game {
  width: 62%;
  }
}