body{
  background-image: url(./img/Background.png);
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat ;
  height: 100vh;
}
.container {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  height: 100vh;
  font-weight: bold;
  background-image: url(./img/cardMenu2.png), url(./img/cardMenu.png);
  background-repeat: no-repeat ;
  background-position-x: 79%, 63%;
  background-position-y: 80%, 76%;
}
.header{
  padding: 5% 0% 0% 6%;
}

.header__title {
  font-size: 57px;
  line-height: 67px;
  margin-bottom: 9px;
}

.header__subtitle {
  font-size: 19px;
  line-height: 22px; 
}

input:checked ~ label::after {
  content: ' ';
  transform: rotate(45deg);
  position: absolute;
  display: block;
  left: -30px;
  top: 10px;
  width: 20px;
  height: 20px;
  background-color: #D62B2E;
}

.hidden {
  display: none;
}
.choose-level {
  padding-top: 2%;
}
.level{
  width: 25%;
  font-size: 42px;
  margin: 2% 8%;
}

.button{
  margin:7% 6%;
}
.start-button {
  cursor: pointer;
  font-size: 31px;
  line-height: 37px;
  font-weight: bold;
  color: #fff;
  background: #D62B2E;
  border-radius: 7px;
  margin-left: 1px;
  padding: 29px 83px 28px 82px;
}

label{
  margin-left: 20px;
  position: relative;
}
input{
  display: none
}

.card {
  position: relative;
  width: 218px;
  height: 341px;
  margin: 12px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.field {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.card:hover {
  cursor: pointer;
  transition: transform 1s;
  transform: translateY(-15px) rotate(-5deg);
}

.easy-game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
}
.middle-game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
}

.hard-game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
}